In [1]:
import sys
import pandas as pd
import numpy as np

In [2]:
sys.path.append('./src')

In [4]:
dating_df = pd.read_csv('dating.csv')

In [9]:
from pre_func import pre_func

In [10]:
pre_func(dating_df)

,age,interests_correlate,expected_happy_with_sd_people,expected_num_interested_in_me,like,guess_prob_liked,age_gap,same_race_point,o_rating_attractive,o_rating_sincere,...,gender_female,gender_male,race_Asian/PacificIslander/Asian-American,race_Black/AfricanAmerican,race_European/Caucasian-American,race_Latino/HispanicAmerican,race_Other,age_gap_dir_negative,age_gap_dir_positive,age_gap_dir_zero
0,21.0,0.14,3.0,2.0,7.0,6.0,6.0,-2.0,210.000000,160.000000,...,1,0,1,0,0,0,0,0,1,0
1,21.0,0.54,3.0,2.0,7.0,5.0,1.0,-2.0,420.000000,-99.000000,...,1,0,1,0,0,0,0,0,1,0
2,21.0,0.16,3.0,2.0,7.0,-99.0,1.0,2.0,190.000000,180.000000,...,1,0,1,0,0,0,0,0,1,0
3,21.0,0.61,3.0,2.0,7.0,6.0,2.0,-2.0,210.000000,40.000000,...,1,0,1,0,0,0,0,0,1,0
4,21.0,0.21,3.0,2.0,6.0,6.0,3.0,-2.0,240.000000,70.000000,...,1,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8372,25.0,0.28,10.0,-99.0,4.0,4.0,1.0,1.0,80.000000,120.000000,...,0,1,0,0,1,0,0,0,1,0
8373,25.0,0.64,10.0,-99.0,2.0,5.0,1.0,-1.0,105.263158,52.631579,...,0,1,0,0,1,0,0,1,0,0
8374,25.0,0.71,10.0,-99.0,4.0,4.0,1.0,-1.0,300.000000,60.000000,...,0,1,0,0,1,0,0,0,1,0
8376,25.0,0.62,10.0,-99.0,5.0,5.0,3.0,-1.0,50.000000,175.000000,...,0,1,0,0,1,0,0,0,1,0
8377,25.0,0.01,10.0,-99.0,4.0,5.0,3.0,-1.0,160.000000,160.000000,...,0,1,0,0,1,0,0,0,1,0